.body {
    height: 100%;
    margin: 0;
    /* Reset default margin */
    padding: 0;
}

.sidebar {
    width: 20%;
    /* Adjust width as needed */
    background-color: #f0f0f0;
    /* Sidebar background color */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Add shadow */
    float: left;
}

.content {
width: 82%;
float: right;
}

.table-menu {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    background-color: rgb(255, 255, 255);
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    min-width: 100%;
}

.menu-header {
    display: flex;
    justify-content: flex-start;
    /* Align items to the start */
    align-items: center;
    padding: 1em;
    /* Add padding as needed */
}

.pidge {
    margin-left: 0.5em;
    /* Adjust margin as needed */
    font-size: 20px;
    font-weight: 800;
}

.menu-btns-container {
    flex: .5;
    /* Take remaining space */
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    padding: 1em;
    /* Add padding as needed */
}

.menu-btns-container button {
    font-size: 16px;
    width: 100%;
    margin: 0.5em 0;
    /* Adjust margin as needed */
    text-align: left;
}

.org-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    /* Add padding as needed */
}

.add-org-btn {
    width: 95%;
}

.pidge-pro {
    flex: 1;
}

.pidge-cta-pro {
    flex-direction: column;
    margin-top: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

.content{
    background-color: burlywood;
    width: 80%;
}


.section{
   
    float: right; /* Float the section to the right */
    width: 80%; /* Adjust width as needed */
}
.search {
    width: 80%;
    display: inline-flex;
    padding: 2em 2em 2em 2em;
    background-color: brown;
}

.search-bar{
    margin-left: 2em;
    width: 20%;
}

.settings{
background-color: rgb(252, 249, 68);
height: 3em;
width:3em;
margin-left: 70%;
margin-right: 10px;
padding: 2px 2px 2px 2px;
border-radius: 50%;
}

.profile{
height: 3em;
width:3em;
border-radius: 50%;
background-color: rgb(219, 120, 203);
padding: 2px 2px 2px 2px;
}

.welcome{
    clear: left;
    width: 60%;
    display: inline-flex;
    background-color: aquamarine;
}

.user-profile-picture{
    background-color: rgb(231, 76, 76);
    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin: 5% 0 5% 10%;
}

.user-welcome-message{
    font-size: 50px;
   margin: 8% 0 0 5%;
   justify-content: center;
   align-items: center; 
}